# Variables de entorno para Supabase (Requerido por protocolos de seguridad)
SUPABASE_URL=https://jcjwbcflysmtnaijlhsq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpjandiY2ZseXNtdG5haWpsaHNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MTk0MzUsImV4cCI6MjA5MTE5NTQzNX0.KKsPho55RAfMH-oPKkbvmGga9nNyPfL42DS2rUKwaVI
